<section class="contact">
  <h2 class="heading">Contact <span>Moi!</span></h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="input-box">
      <input type="text" placeholder="Nom complet" formControlName="nomComplet" name="nomComplet">
      <input type="email" placeholder="Email" formControlName="email" name="email">
    </div>
    <div class="input-box">
      <input type="tel" placeholder="Tel" formControlName="tel" name="tel">
      <input type="text" placeholder="sujet" formControlName="sujet" name="sujet">
    </div>
    <textarea cols="30" rows="10" placeholder="Votre message" formControlName="message" name="message"></textarea>
    <input type="submit" value="Envoyer" class="bouton" [disabled]="!contactForm.valid">
  </form>
</section>
