<section class="about" id="about">
  <div class="about-img">
    <img src="images/moi.png">
  </div>
  <div class="about-content">
    <h2 class="heading">A propos<span> de Moi</span></h2>
    <h3>Développeur full-stack</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ratione illum in commodi sint odit, fugiat illo animi libero fugit aspernatur rem eum incidunt expedita harum quibusdam temporibus inventore excepturi.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, eius porro! Reiciendis debitis ab libero nam cupiditate id animi voluptas, soluta ex nesciunt mollitia laudantium cum illum delectus ipsa nulla?
    </p>
    <a href="#" class="bouton">Voir plus</a>
  </div>

</section>
