<section class="home" id="home">
  <div class="home-content">
    <h3>Salut, C'est moi</h3>
    <h1>Amadou Niangaly</h1>
    <h3 class="dev">Développeur full-stack</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tempore sint iusto quis repellendus officiis maxime corrupti commodi. Cum tempore magnam dolorum nostrum libero ipsa, alias aliquid earum animi dolorem!</p>
    <div class="media-social">
      <a href="#"><i class='bx bxl-linkedin' ></i></a>
      <a href="#"><i class='bx bxl-facebook'></i></a>
      <a href="#"><i class='bx bxl-github' ></i></a>
    </div>
    <a href="#" class="bouton">Télécharger CV</a>
  </div>
  <div class="home-img">
    <img src="images/image.png">
  </div>

</section>
