<section class="home" id="home">
  <div class="home-content">
    <h3>Salut, C'est moi</h3>
    <h1>Amadou Niangaly</h1>
    <h3 class="dev">Développeur full-stack</h3>
    <p>Je suis passionné par le développement web et mobile. Mon objectif est de créer des solutions innovantes et efficaces pour répondre aux besoins des utilisateurs. Je me spécialise dans les technologies modernes telles qu'Angular, Flutter, Spring Boot, et Firebase, avec une forte expérience en gestion de projets.</p>    <div class="media-social">
      <a href="https://www.linkedin.com/in/amadou-niangaly-677681185/" target="_blank"><i class='bx bxl-linkedin' ></i></a>
      <a href="https://www.facebook.com/karembe.niangaly?locale=fr_FR" target="_blank"><i class='bx bxl-facebook'></i></a>
      <a href="https://github.com/Amadou-Niangaly/" target="_blank"><i class='bx bxl-github'></i></a>
    </div>
    <a href="assets/AmadouCVR.pdf" download  class="bouton">Télécharger CV</a>
  </div>
  <div class="home-img">
    <img src="images/image.png">
  </div>

</section>
