<section id="skills" class="skills">
  <h2 class="heading">Mes <span> Compétences!</span></h2>
  <div class="principale">
    <div class="skills-content">
      <div class="sub-tittle">
        <h4>Langages et Framwork</h4>
      </div>
      <div class="skills-container">
        <div class="skill">
          <div class="subject">HTML</div>
          <div class="progress-bar" value="94%">
            <div class="progress-line" style="max-width: 94%"></div>
          </div>
        </div>

        <div class="skill">
          <div class="subject">CSS</div>
          <div class="progress-bar" value="94%">
            <div class="progress-line" style="max-width: 83%"></div>
          </div>
        </div>

        <div class="skill">
          <div class="subject">JAVASCRIPT</div>
          <div class="progress-bar" value="94%">
            <div class="progress-line" style="max-width: 88%"></div>
          </div>
        </div>

        <div class="skill">
          <div class="subject">ANGULAR</div>
          <div class="progress-bar" value="94%">
            <div class="progress-line" style="max-width: 94%"></div>
          </div>
        </div>

      </div>

    </div>

    <div class="skills-content">
      <div class="sub-tittle">
        <h4>Langages et Framwork</h4>
      </div>
      <div class="skills-container">
        <div class="skill">
          <div class="subject">HTML</div>
          <div class="progress-bar" value="94%">
            <div class="progress-line" style="max-width: 94%"></div>
          </div>
        </div>

        <div class="skill">
          <div class="subject">CSS</div>
          <div class="progress-bar" value="94%">
            <div class="progress-line" style="max-width: 83%"></div>
          </div>
        </div>

        <div class="skill">
          <div class="subject">JAVASCRIPT</div>
          <div class="progress-bar" data-value="90%">
            <div class="progress-line" style="max-width: 88%"></div>
          </div>
        </div>

        <div class="skill">
          <div class="subject">ANGULAR</div>
          <div class="progress-bar" value="84%">
            <div class="progress-line" style="max-width: 94%"></div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
